.preview {
    width: 288px;
    height: 135px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}
.preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.pickImage {
    display: flex;
    justify-content: center;
}


/* noti */
#noti {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.noti {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.noti--success {
    border-color: #47d864;
}

.noti--success .noti__icon {
    color: #47d864;
}

.noti--info {
    border-color: #2f86eb;
}

.noti--info .noti__icon {
    color: #2f86eb;
}

.noti--warning {
    border-color: #ffc021;
}

.noti--warning .noti__icon {
    color: #ffc021;
}

.noti--error {
    border-color: #ff623d;
}

.noti--error .noti__icon {
    color: #ff623d;
}

.noti+.noti {
    margin-top: 24px;
}

.noti__icon {
    font-size: 24px;
}

.noti__icon,
.noti__close {
    padding: 0 16px;
}

.noti__body {
    flex-grow: 1;
}

.noti__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.noti__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.noti__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
/* end noti */